<h3>This is urls/new</h3>
<%= form_for @url do |f| %>
	<p>
		<%= f.label "Type your URL here:" %><br>
		<%= f.text_field :long_url %>
	</p>

	<p>
		<%= f.submit "Shorten URL!"%>
	</p>
<% end %>
<%= link_to 'Back', urls_path %><br>

<% if @url.short_url %>
	<div>
		Shortened url: <%= @url.short_url %>
	</div>
<% end %>